name: time-split

services:
  app:
    image: time-split:dev
    ports:
      - "8501:8501"
    env_file: ./common.env
    environment:
      DEBUG: false
      EXTRA_PIP_PACKAGES: s3fs plotly
      REQUIRE_DATASETS: true
      DATASETS_CONFIG_PATH: s3://my-bucket/data/remote-datasets.toml
    network_mode: host
    volumes:
      - ../app_extensions.py:/home/streamlit/app_extensions.py:ro

  minio:
    image: minio/minio:latest
    entrypoint: [ "minio", "server", "--address", "0.0.0.0:9000", "--console-address", "0.0.0.0:9001", "/data" ]
    ports:
      - "9000:9000"
      - "9001:9001"
