name: azure

services:
  time-fold-explorer:
    restart: unless-stopped
    image: rsundqvist/time-split:latest
    pull_policy: always
    healthcheck:
      test: "curl --fail http://localhost:8501/_stcore/health || exit 1"
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
      start_interval: 5s
    volumes:
      - "./datasets.toml:/home/streamlit/datasets.toml:ro"
      - "./data:/home/streamlit/data:ro"
    environment:
      PERMALINK_BASE_URL: ${PERMALINK_BASE_URL}
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - 443:443
      - 80:80
    depends_on:
      - time-fold-explorer

    volumes:
      # -./html:/usr/share/nginx/html:ro  # Adds a home page. We just redirect to the explorer instead.
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl:/etc/ssl:ro
